<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"><log4j:configuration>  <appender class="org.apache.log4j.ConsoleAppender" name="stdout">    <layout class="org.apache.log4j.PatternLayout">      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>    </layout>    <param name="Target" value="System.out"/>  </appender>  <appender class="org.apache.log4j.AsyncAppender" name="async">    <appender-ref ref="stdout"/>    <param name="Blocking" value="false"/>    <param name="BufferSize" value="1000"/>  </appender>  <logger additivity="false" name="com.holaluz">    <appender-ref ref="async"/>    <level value="warn"/>  </logger>  <logger additivity="false" name="keyLogger">    <appender-ref ref="async"/>    <level value="off"/>  </logger>  <root>    <appender-ref ref="async"/>    <priority value="warn"/>  </root></log4j:configuration>